utils/pcTests/restful/EmbeddedParamsTest/EmbeddedParamsTest.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">

	<resources base="http://example.com/">
		<resource path="{first}/{second}/{third}">
			<param name="first" type="xsd:int" style="template" />
			<param name="second" type="xsd:string" style="template" />
			<param name="third" type="xsd:float" style="template" />
			<method name="GET" id="get123">
				<response status="200">
					<representation href="#resultSet" />
				</response>
			</method>
			<resource path="urlFixedSegment/{fourth}">
				<param name="fourth" type="xsd:boolean" style="template" />
				<method name="GET" id="get1234">
					<response status="200">
						<representation href="#resultSet" />
					</response>
				</method>
			</resource>
		</resource>
	</resources>
	
	<representation id="resultSet" mediaType="application/xml"
		element="Response" />
</application>

