examples/C++/RESTful/Bank/Bank.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 wadl.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://wadl.dev.java.net/2009/02">

	<resources base="http://example.com/resources/">
		<resource path="account/{accountNumber}">
			<param name="accountNumber" type="xsd:int" style="template" />
			<method name="POST" id="getAccountDetails">
				<request>
					<representation href="#password" />
					<param href="#user" />
				</request>
				<response status="200">
					<representation href="#resultSet" />
				</response>
				<response status="400">
					<representation href="#errorMessage" />
				</response>
			</method>
		</resource>
	</resources>

	<param id="user" name="user" type="xsd:string" style="query"
		required="true" />
	<representation id="password" mediaType="application/xml"
		element="Password" />

	<representation id="resultSet" mediaType="application/xml"
		element="AccountDetails" />
	<representation id="errorMessage" mediaType="application/xml"
		element="ErrorMessage" />
</application>

